# Entorno virtual
venv/
env/

# Archivos de Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Archivos de Django
*.log
media/
staticfiles/

# VSCode / IDEs
.vscode/
.idea/

# Archivos de sistema
*.sqlite3
.DS_Store

# Dating app - uploads (solo mantener .gitkeep)
dating-app/uploads/profiles/*
dating-app/uploads/thumbnails/*
!dating-app/uploads/profiles/.gitkeep
!dating-app/uploads/thumbnails/.gitkeep
